@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", serif;
}
html{
  width: 100%;
  scroll-behavior: smooth;
}
body{
  padding-top: 109px;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  
}
header {
  width: 100%;
  position: fixed;
  height: 109px;  
  padding: 15px 15px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  z-index: 9999;
  writing-mode: horizontal-tb;
  overflow: visible;
}
.navbar{
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: transparent;
  margin: auto;
  flex-direction: row;
}
.nav-logo {
  margin: -10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo h1 {
  white-space: normal;
}
.logo-img{
  width: 85px;
  height: 85px;
  border-radius: 30%;
  background-color: white;
  position: relative;
  margin-left: -70px;
}
.logo{
  font-family: 'pacifico' ,cursive;
  margin: 0;
  white-space: normal;
  color: #5e1f12;
  font-size: 36px;
}
.logo-text{
  width: 100%;
  font-weight: 700px;
  color: #5e1f12;
}
.nav-left{
  display: flex;
  align-items: center;
  gap:12px;
}
.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
  margin-left: 40px;
}
.fa-bars{
  display: none;
  position: relative;
  top: 5px;
}
/* home to contact us */
.nav-menu{
  display: flex;
  list-style: none;
  flex: 1;
  margin: 0;
  padding: 0 auto;
  gap: 35px;
  margin-left: 40px;
}
a{
  text-decoration: none;
  color:#5e1f12
}
.nav-left .nav-logo .logo{
  font-size: 1.5rem;
  font-weight: 800;
  padding-left: 200px;
}
.nav-menu .nav-menu li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  gap: 20px
}
.nav-left.nav-menu li a:hover{
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: 600;
  transition: 0.5s linear;    
}
nav ul li a:hover {
  text-decoration: underline;
}
.nav-right p{
  font-size: 1rem;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-right .btn,.submit{
  background-color: #5e1f12;
  color: #fff;
  padding: 8px 22px;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s linear;
}
.nav-right .btn:hover, .submit:hover{
  background-color: transparent;
  color: #5e1f12;
  border: 1px solid #5e1f12;
  cursor: pointer;
}
.hero-section {
  min-height: 100vh;
  background: #edf395;
}
.hero-section .section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-top: 90px;
}
.hero-section .section-content .hero-details h1{
  font-family: 'Playfair Display',serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  color: black;
  margin-bottom: 20px;
}
.hero-img {
  border: 3px;
  width: 100%;
  height: auto;
}
.section-content{
  max-width: 1300;
  margin: 0 auto;
  padding: 0 20px;
}
.hero-section .section-content .hero-details p{
  max-width: 70%;
  font-size: 1.1rem;
  margin-bottom: 20px;    
}
.hero-section .section-content .hero-details .order-now{
  padding: 8px 16px;
  border: 2px solid #5e1f12;
  background: transparent;
  color: #5e1f12;
  cursor: pointer;
  transition: 0.3s ease;     
}
.hero-section .section-content .hero-details .order-now:hover{
  border: 2px solid transparent;
  background: #5e1f12;
  color: #fff;
}
/* about */
.about-us{
  width: 100%;
  background-color: #fff;
  padding: 120px 0px;
  margin: 0 auto;
}
.about-us .section-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.about-us .section-content .about-image img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}
.about-us .about-details{
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.section-title{
  position: relative;
  display: inline-block;
  color: #5e1f12;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.section-title::after{
  content: "";
  display: block;
  background: #5e1f12;
  height: 5px;
  width: 145px;
  border-radius: 2px;
  margin-top: 10px auto 0;
}
.about-details .section-title{
  padding: 0;
}
.about-details p{
  font-family: 1.05rem;
  line-height: 30px;
  text-align: center;
  margin: 20px 0 30px;
}
/* menu */
.menu-section{
  background-color: #5e1f12;
  color: #fff;
  padding: 50px  100px;
  text-align: center;
}
.menu-section .section-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
  margin: 0 auto 30px;
}
.menu-section .menu-list{
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.menu-section .menu-list .menu-item {
  width: 280px;
  height: 280px;
  text-align: center;
}
.menu-section .menu-list .menu-item img{
  width: 100%;
  height: 88%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.menu-section .section-title::after{
  content:  "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 90px;
  height: 4px;
  background-color: #fff;
  margin: 12px auto 0;
  border-radius: 2px;
}
/* theme */
.theme-section{
  background-color: #ffff;
  color: #5e1f12;
  padding: 50px 0 100px;
}
.theme-section .section-title{
  color: #5e1f12;
}
.theme-section .theme-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.theme-section .theme-list .theme-item{
  width: 30%;
  height: 250px;
  text-align: center;
  height: 300px; 
}
.theme-section .theme-list .theme-item img{
  cursor: zoom-out;
  width: 75%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.theme-section .section-title::after{
  background-color: #5e1f12;
}
.theme-section .theme-list .theme-item img:hover{
  transform: scale(1.1);
}
.contact-us{
  background-color: rgb(240,238,163);
  width: 100%;
 min-height: 90vh;
  padding-bottom: 60px 0;
}
.contact-us .section-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  gap: 40px;
}
.contact-us .section-title{
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  position: relative;
}
.contact-us .contact-details{
  max-width: 1200%;
  display: flex;
  flex-direction: column;
}
.contact-us .contact-details div{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.contact-us .contact-details i{
  font-size: 18px;
  color: black;
  min-width: 22px;
}
.contact-us .contact-details p,
.contact-us .contact-details a{
  color: #000;
}
/* left */
.contact-left{
  width: 48%;
  padding: 40px;
}
.contact-form-right{
  width: 48%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  transform: translateY(-240px);
}
.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-form form input,
.contact-form textarea{
  width: 80%;
  padding: 6px 12px;
  border: 1px solid #7a7777;
  outline: none;
  min-height: 35px;
  resize: none;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 14px;
}
.contact-form form input{
  height: 36px;
}
.contact-form textarea{
  height: 80px;
  resize: vertical;
}
.contact-form button{
  background: #5e1f12;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  width: fit-content;
}
.footer{
  background-color: white;
  width: 100%;
  height: 1200%;
  color: #5e1f12;
  padding: 10px 20px;
  margin-bottom: -100px;
}
.footer .section-content{
 display: flex;
 align-items: center;
 justify-content: space-between; 
}
.footer-links ul{
  display: flex;
  color: #5e1f12;
  gap: 25px;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0; 
  padding: 0;
}
.footer-links{
  color: #5e1f12;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
}
.copyright p{
  margin: 0;
  font-size: 14px;
} 
.whatsapp-link {
  color: #055322;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.whatsapp-link i{
  margin-right: 6px;
  font-size: 18px;
}
.footer p{
  margin: 5px 0;
}
.mobile-only {
  display: none;
}
.menu-section .section-title,
.theme-section .section-title{
  text-align: center;
}
.menu-section .menu-list,
.theme-section .theme-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.hamburger{
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
}

header::before,
header::after{
  display: none;
}
section{
  scroll-margin-top: 90px;
}
.get-touch {
  display: none;
}

/* --------media query------- */
@media (max-width: 768px) {
  header{
    min-height: 60px;
    padding: 1rem 5vw;
}
  .nav-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.3rem 2vw;
    gap:3px;
    margin-left: 25px;
    width: 30px;
}
  .logo{
    white-space: nowrap;
    transform-origin: left center;
    display: inline-block;
}
 .logo{
    font-size: clamp(20px, 4vw, 32px);
    margin: 0;
    display: block;
}

.btn{
    padding: 3px 8px;
    font-size: clamp(0.7rem, 2.5vw, 0.95rem);
    border: 0.5px solid #000;
    border-radius: -999px;
    display: inline-block;
    line-height: 1;
    border-radius: 20%;
    
}
.hamburger {
    font-size: clamp(1.2rem, 4vw, 1.8rem);
    margin-left: 20px;
    display: none;
  }
  .hero-section .section-content{
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding-top: 140px;
  }
  .hero-details h1 {
      font-size: 28px;
      line-height: 1.3;
      margin-bottom: 10px;
  }
  .hero-details p {
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }
  .order-btn{
      display: none;
      padding: 14px 24px;
      font-size: 18px;
      background:#5e1f12;
      color: #fff;
      border-radius: 30px;
      text-decoration: none;
      margin-top: 15px;
  }
  .nav-links{
    position: fixed;
    top: 109px;
    right: -100%;
    width: 35%;
    height: 150px;
    background: #fff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    overflow-y: auto;
    z-index: 999;
    padding: 20px;
    transition: 0.3s ease;
  }
  .nav-links li{
    margin: 20px 0;
  }
  
  .nav-links.active{
    right: 0;
    display: block;
  }
  nav ul{
      display: none;
      position: absolute;
      flex-direction: column;
      background: #fff;
      position: absolute;
      top: 60px;
      right: 20px;
      width: 200px;
      border-radius: 8px;
   }
  nav ul.active{
      display: none;
      flex-direction: column;
  }
  .nav-links.active{
    display: block;
    flex-direction: column;
  }
  .about-us .section-content{
    flex-direction: column;
    text-align: center;
  }
  .about-us .about-details{
    max-width: 100%;
  }
  .section-title{
    text-align: center;
  }
  .section-title::after{
    margin: 10px auto;
  }
  .fa-bars{
    display: none;
    font-size: 24px;
    cursor: pointer;
    top: 8px;
}  
.menu-section {
  width: 100%;
}
.menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  min-width: 100%;
}  
.menu-item {
  width: 100%;
}
.menu-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}
.menu-item h3{
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.theme-section .theme-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.theme-section .theme-list .theme-item{
  width: 50%;
  height: 100px;
  text-align: center;
  height: 200px; 
}
.theme-section .theme-list .theme-item img{
  cursor: zoom-out;
  width: 75%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form{
    display: none;
}
.contact-us .section-content{
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 4px;
  font-size: 10px;
}
.contact-us .contact-details{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-us .contact-details div{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.contact-us .contact-details i{
  font-size: 15px;
  color: black;
  min-width: 10px;
}
.contact-us .contact-details p,
.contact-us .contact-details a{
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 13px;
}
/* left */
.contact-left{
  width: 10%;
  padding: 10px;
}
#get-touch{
  display: none;
}
.policy-links.show {
  display: flex;
}
.mobile-only {
  background: #000;
  padding: 0 20px 16px;
  flex-direction: column;
  font-size: 14px;
}

.get-touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: #000;
  color: #fff;
  letter-spacing: 4px;
  cursor: pointer;
}
.get-touch .text {
  font-size: 14px;
}
.get-touch #icon {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
  display: flex;
}
.icon a{
  color: #fff;
  padding: 8px 0;
  text-decoration: none;
  font-size: 100px;
}
.mobile-get-touch,
#mobilePolicies{
  display: none;
}
#mobilePolicies{
  display: none;
  flex-direction: column;
  padding-left: 20px;
}
#mobilePolicies.show {
  display: flex;
}
.contact-form-right {
  display: none;
}
#mobilePolicies a, 
#mobilePolicies li,
#mobilePolicies p{
  color: #fff;
}

}
